In [43]:
#pip install openpyxl

In [51]:
import pandas as pd
airbnb=pd.read_excel("airbnb.xlsx",sheet_name="AirBnB_NYC")

In [64]:
print (f"View the first few rows of the dataset")
airbnb.head()

View the first few rows of the dataset

,HostId,HostSince,Name,Neighbourhood,PropertyType,RoomType,Zipcode,Beds,NumberofRecords,NumberOfReviews,Price,ReviewScoresRating
0,5162530,NaT,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,Entire home/apt,11249,1,1,0,145,NaN
1,33134899,NaT,"Sunny, Private room in Bushwick",Brooklyn,Apartment,Private room,11206,1,1,1,37,NaN
2,39608626,NaT,Sunny Room in Harlem,Manhattan,Apartment,Private room,10032,1,1,1,28,NaN
3,500,2008-06-26,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,Entire home/apt,10024,3,1,0,199,NaN
4,500,2008-06-26,Trendy Times Square Loft,Manhattan,Apartment,Private room,10036,3,1,39,549,96.0

In [58]:
# print (f"Check the shape of the dataset (rows, columns)")
# airbnb.shape

print (f"Get a summary of the dataset (column names, data types, and missing values)")
airbnb.info()

# print (f"Get statistical summary of numerical columns")
# airbnb.describe()

# print (f"Check for missing values across the dataset")
# airbnb.isnull().sum()

# print (f"Check for duplicate rows")
# airbnb.duplicated().sum()

Get a summary of the dataset (column names, data types, and missing values)
<class 'pandas.core.frame.DataFrame'>
Index: 30344 entries, 0 to 30477
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   HostId              30344 non-null  int64
 1   HostSince           30341 non-null  datetime64[ns]
 2   Name                30344 non-null  object
 3   Neighbourhood       30344 non-null  object
 4   PropertyType        30341 non-null  object
 5   RoomType            30344 non-null  object
 6   Zipcode             30344 non-null  float64
 7   Beds                30260 non-null  float64
 8   NumberofRecords     30344 non-null  int64
 9   NumberOfReviews     30344 non-null  int64
 10  Price               30344 non-null  int64
 11  ReviewScoresRating  22055 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 3.0+ MB

In [57]:
# Remove Whitespaces from column names 
airbnb.columns = airbnb.columns.str.replace(' ','')
# Drop ReviewScoresRating(bin) column
airbnb = airbnb.drop(columns=['ReviewScoresRating(bin)'])

In [68]:
# Check for missing values
missing_values = airbnb.isnull().sum()
print(missing_values)
# Drop Hosts without Zipcode
airbnb.drop(airbnb[airbnb['Zipcode'].isnull()].index, inplace = True)
# Drop Hosts without Beds
airbnb.drop(airbnb[airbnb['Beds'].isnull()].index, inplace = True)
# Drop Hosts without PropertyType
airbnb.drop(airbnb[airbnb['PropertyType'].isnull()].index, inplace = True)

HostId                   0
HostSince                3
Name                     0
Neighbourhood            0
PropertyType             0
RoomType                 0
Zipcode                  0
Beds                     0
NumberofRecords          0
NumberOfReviews          0
Price                    0
ReviewScoresRating    8247
dtype: int64

In [63]:
# Convert Zipcode to integer from float
airbnb['Zipcode'] = airbnb['Zipcode'].astype(int)
airbnb['Beds'] = airbnb['Beds'].astype(int)

In [79]:
zipcodes = airbnb.query('Zipcode == 99135')
print(zipcodes)
print ("\n")
zipcodes = airbnb.query('Zipcode == 94103')
print(zipcodes)
print ("\n")
zipcodes = airbnb.query('Zipcode == 1003')
print(zipcodes)
print ("\n")
# Drop the above zip codes which are not located in NY
indexIncorrectZip = airbnb[airbnb['Zipcode'].isin([1003, 99135, 94103])].index
airbnb.drop(indexIncorrectZip , inplace=True)

Empty DataFrame
Columns: [HostId, HostSince, Name, Neighbourhood, PropertyType, RoomType, Zipcode, Beds, NumberofRecords, NumberOfReviews, Price, ReviewScoresRating]
Index: []


Empty DataFrame
Columns: [HostId, HostSince, Name, Neighbourhood, PropertyType, RoomType, Zipcode, Beds, NumberofRecords, NumberOfReviews, Price, ReviewScoresRating]
Index: []


Empty DataFrame
Columns: [HostId, HostSince, Name, Neighbourhood, PropertyType, RoomType, Zipcode, Beds, NumberofRecords, NumberOfReviews, Price, ReviewScoresRating]
Index: []

In [80]:
# export to csv
airbnb.to_csv('airbnb_ny_clean.csv', sep='\t')

In [82]:
zipcode_10309=airbnb.query('Zipcode == 10309')
print(zipcode_10309)

         HostId  HostSince                              Name  Neighbourhood  \
21829  19282518 2014-08-01  LUXURY MANSION WITH A POOL IN SI  Staten Island

      PropertyType         RoomType  Zipcode  Beds  NumberofRecords  \
21829        House  Entire home/apt    10309     4                1

       NumberOfReviews  Price  ReviewScoresRating
21829                0    850                 NaN